[Desktop Entry]
Type=Application
Name=Thallium Store
Comment=Install applications on Debian-based systems
Exec=thallium-store
Icon=io.thallium.Store
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
